/* Style général */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}
.carousel {
    height: 80vh;
    width: 80%;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

.carousel img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel button {
    position: absolute;
    background: none;
    outline: none;
    border: none;
    font-size: 2.6em;
    z-index: 2;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transform: translateY(-50%);
    top: 50%;
}

.btn.prev {
    left: 55px;
}

.btn.next {
    right: 2px;
}

.carousel li {
    list-style: none;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition:  0.5s ease;
}

.slide.active {
    opacity: 1;
}

.slide img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.liens button {
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition:  0.3s ease;
}

.liens button:hover {
    background-color: black;
}   

.logement{
    margin: 25px;
}



/* Media Queries */
@media (max-width: 768px) {
    .logement-details {
        width: 95%;
        margin: 80px 10px 20px 10px; /* Ajustement pour le header fixe */
        padding: 15px;
    }

    .logement-details h1 {
        font-size: 1.5em;
    }

    .logement-details p {
        font-size: 1em;
    }

    .logement-details .images-container img {
        max-width: 100%; /* Les images prennent toute la largeur disponible */
    }
}
/* Media Queries */


/* Téléphones */
@media (max-width: 768px) {
    .carousel {
        height: 50vh;
        width: 50vh;
    }

    .carousel button {
        font-size: 1.8em;
    }

    .btn.prev {
        left: 55px;
    }
    
    .btn.next {
        right: 2px;
    }
    .logement p {
        font-size: 1em;
    }
}

/* Petits téléphones */
@media (max-width: 480px) {
    .carousel {
        height: 30vh;
        width: 30vh;
    }

    .carousel button {
        font-size: 1.5em;
    }

    .btn.prev {
        left: 55px;
    }
    
    .btn.next {
        right: 2px;
    }

    .logement p {
        font-size: 0.9em;
    }
}