/* Style général */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}
.all{
    margin: 25px;
}

.carousel {
    height: 80vh;
    width: 80%;
    max-width: 600px;
    position: relative;
    margin: 0 auto;
}

.carousel img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.carousel button {
    position: absolute;
    background: none;
    outline: none;
    border: none;
    font-size: 2.6em;
    z-index: 2;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transform: translateY(-50%);
    top: 50%;
}

.btn.prev {
    left: 55px;
}

.btn.next {
    right: 2px;
}

.carousel li {
    list-style: none;
}

.slide {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide.active {
    opacity: 1;
}

.slide img {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#logement {
    background-color: whitesmoke;
    color: black;
}

.logement p {
    font-size: 1.2em;
    line-height: 1.6;
}

/* Media Queries */


/* Téléphones */
@media (max-width: 768px) {
    .carousel {
        height: 50vh;
        width: 50vh;
    }

    .carousel button {
        font-size: 1.8em;
    }

    .btn.prev {
        left: 55px;
    }
    
    .btn.next {
        right: 2px;
    }
    .logement p {
        font-size: 1em;
    }
}

/* Petits téléphones */
@media (max-width: 480px) {
    .carousel {
        height: 30vh;
        width: 30vh;
    }

    .carousel button {
        font-size: 1.5em;
    }

    .btn.prev {
        left: 55px;
    }
    
    .btn.next {
        right: 2px;
    }

    .logement p {
        font-size: 0.9em;
    }
}